.father {
  display: grid;
  gap: 10px;
  height: 100vh;
  grid-template-columns: repeat(5, 200px);
  grid-template-rows: repeat(2, 200px);
  background-color: lightblue;
  /* justify-content: center;
  align-content: space-evenly; */
  place-content: space-evenly center; /* pixel 단위를 사용해야 빈 공간이 있어서 사용 가능함 */
}

.child {
  background-color: tomato;
  color: white;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
