.father {
  height: 100vh;
  display: flex;
  gap: 10px; /* gap은 계속 적용이 되는 상태 */
  flex-wrap: wrap; /* select single-line(nowrap) or multi-line(wrap) */
  justify-content: center;
  flex-flow: column wrap; /* flex-direction + flex-wrap */
}

.box {
  background-color: tomato;
  width: 200px;
  height: 200px;
  color: white;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
